@font-face {
  font-family: 'TRG';
  src:url('/assets/fonts/trg/trg.eot');
  src:url('/assets/fonts/trg/trg.eot') format('embedded-opentype'),
  url('/assets/fonts/trg/trg.woff') format('woff'),
  url('/assets/fonts/trg/trg.woff2') format('woff2'),
  url('/assets/fonts/trg/trg.ttf') format('truetype'),
  url('/assets/fonts/trg/trg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


.trg-icons {
  font-family: 'TRG';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.worldwide-ico:before {
  content: "\e928";
}
.account-ico:before {
  content: "\e900";
}
.cart-ico:before {
  content: "\e901";
}
.search-ico:before {
  content: "\e902";
}
.map-ico:before {
  content: "\e903";
}
.phone-ico:before {
  content: "\e904";
}
.keyboard_arrow_down-ico:before {
  content: "\e905";
}
.keyboard_arrow_up-ico:before {
  content: "\e906";
}
.heart-ico:before {
  content: "\e907";
}
.google-plus-ico:before {
  content: "\e908";
}
.facebook-ico:before {
  content: "\e909";
}
.twitter-ico:before {
  content: "\e90a";
}
.bin-ico:before {
  content: "\e90b";
}
.youtube-ico:before {
  content: "\e90c";
}
.left-copy-ico:before {
  content: "\e90d";
}
.play-ico:before {
  content: "\e90e";
}
.checkmark-ico:before {
  content: "\e90f";
}
.instagram-ico:before {
  content: "\e910";
}
.support-ico:before {
  content: "\e911";
}
.shopping-cart-ico:before {
  content: "\e912";
}
.delivery-truck-ico:before {
  content: "\e913";
}
.american-dollar-symbol-ico:before {
  content: "\e914";
}
.bookmarks_fill-ico:before {
  content: "\e915";
}
.bookmarks-ico:before {
  content: "\e916";
}
.stack-ico:before {
  content: "\e917";
}
.credit-card-ico:before {
  content: "\e918";
}
.spinner11-ico:before {
  content: "\e919";
}
.sphere-ico:before {
  content: "\e91a";
}
.heart_fill-ico:before {
  content: "\e91b";
}
.music-ico:before {
  content: "\e91c";
}
.jewelry-ico:before {
  content: "\e91d";
}
.industrialSupplies-ico:before {
  content: "\e91e";
}
.home-ico:before {
  content: "\e91f";
}
.healthBeauty-ico:before {
  content: "\e920";
}
.furniture-ico:before {
  content: "\e921";
}
.food-ico:before {
  content: "\e922";
}
.electronics-ico:before {
  content: "\e923";
}
.books-ico:before {
  content: "\e924";
}
.baby-ico:before {
  content: "\e925";
}
.automotive-ico:before {
  content: "\e926";
}
.adult-ico:before {
  content: "\e927";
}
