// @todo: serve font locally
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700');

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Avenir/AvenirLTStd-Book.woff) format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Avenir/AvenirLTStd-Roman.woff) format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  src: url(/assets/fonts/Avenir/AvenirLTStd-Black.woff) format('woff');
}

@font-face {
  font-family: 'Helvetica-Regular';
  src:url('/assets/fonts/Helvetica/Helvetica-Regular.eot');
  src:url('/assets/fonts/Helvetica/Helvetica-Regular.eot') format('embedded-opentype'),
      url('/assets/fonts/Helvetica/Helvetica-Regular.woff') format('woff'),
      url('/assets/fonts/Helvetica/Helvetica-Regular.woff2') format('woff2'),
      url('/assets/fonts/Helvetica/Helvetica-Regular.ttf') format('truetype'),
      url('/assets/fonts/Helvetica/Helvetica-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

// Global styles for text
body {
  font-size: 14px;
  font-family: 'Avenir', 'Roboto', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Avenir', serif;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 36px;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

// Atomic styles for text
.serif {
  font-family: 'Playfair Display', serif;
}
.sans-serif {
  font-family: 'Roboto', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

.weight-200 {
  font-weight: 200;
}
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-700 {
  font-weight: 700;
}
.weight-900 {
  font-weight: 900;
}

// Sizes
.fs-medium-small {
  font-size: 14px;
}
.fs-medium {
  font-size: 18px;
}
.fs-large {
  font-size: 24px;
}
.fs-big {
  font-size: 36px;
}

.nowrap { white-space: nowrap; }

@mixin line-height {
  @for $i from 0 to 60 {
    .lh#{$i} {
      line-height: #{$i}px;
    }
  }
}

@include line-height;
@mixin font-size {
  @for $i from 0 to 60 {
    .fs#{$i} {
      font-size: #{$i}px;
    }
  }
}

@include font-size;
